<div *ngIf="isVisible" class="modal-bg">
  <div class="close">
    <button (click)="closeModal()"><i class="fa-solid fa-xmark"></i></button>
  </div>
  <div class="modal">
    <h2>{{ task ? 'Edit Task' : 'Add New Task' }}</h2>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <!-- Title Field -->
      <label>Title</label>
      <input formControlName="title" type="text" required placeholder="Enter Title"/>
      <div *ngIf="taskForm.get('title')?.touched && taskForm.get('title')?.invalid" class="text-danger">
        <div *ngIf="taskForm.get('title')?.hasError('required')">Title is required.</div>
        <div *ngIf="taskForm.get('title')?.hasError('minlength')">Title must be at least 3 characters long.</div>
        <div *ngIf="taskForm.get('title')?.hasError('maxlength')">Title cannot be longer than 50 characters.</div>
      </div>

      <!-- Description Field -->
      <label>Description</label>
      <textarea formControlName="description" required placeholder="Enter Description"></textarea>
      <div *ngIf="taskForm.get('description')?.touched && taskForm.get('description')?.invalid" class="text-danger">
        <div *ngIf="taskForm.get('description')?.hasError('required')">Description is required.</div>
        <div *ngIf="taskForm.get('description')?.hasError('minlength')">Description must be at least 3 characters long.</div>
        <div *ngIf="taskForm.get('description')?.hasError('maxlength')">Description cannot be longer than 500 characters.</div>
      </div>

      <!-- Category Field -->
      <label>Category</label>
      <select formControlName="categoryId" required>
        <option value="" selected hidden>Pick Category</option>
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
      <div *ngIf="taskForm.get('categoryId')?.touched && taskForm.get('categoryId')?.invalid" class="text-danger">
        Category is required.
      </div>

      <div class="group">
        <!-- Priority Field -->
        <div>
          <label>Priority</label>
          <select formControlName="priority">
            <option value="" selected hidden>Pick Priority</option>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
          </select>
        </div>

        <!-- Status Field -->
        <div>
          <label>Status</label>
          <select formControlName="status">
            <option value="" selected hidden>Pick Status</option>
            <option value="ToDo">ToDo</option>
            <option value="Doing">Doing</option>
            <option value="Done">Done</option>
          </select>
        </div>
      </div>

      <!-- Due Date Field -->
      <label>Due Date</label>
      <input formControlName="dueDate" type="date" />
      <div *ngIf="taskForm.get('dueDate')?.touched && taskForm.get('dueDate')?.invalid" class="text-danger">
        <div *ngIf="taskForm.get('dueDate')?.hasError('required')">Due date is required.</div>
        <div *ngIf="taskForm.get('dueDate')?.hasError('dueDateInvalid')">Due date must be today or in the future.</div>
      </div>

      <div class="actions">
        <button type="button" class="cancel" (click)="closeModal()">Cancel</button>
        <button type="submit" class="save" [disabled]="taskForm.invalid">{{ task ? 'Update' : 'Add' }}</button>
      </div>
    </form>
  </div>
</div>
